* {
    border-radius: 5px;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightgray;
}

main {
    margin: auto;
    background-color: darkgoldenrod;
    width: 100vw;
}

footer {
    margin-top: auto;
    background-color: lightgray;
}

section {
    justify-content: right;
    background-color: lightblue;
    margin: 8px;
    padding: 8px;
}

article {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: solid, gray;
    border-radius: 5px;
    background-color: white;
    margin: 8px;
    padding: 8px;
    overflow: auto;
}

div {
    display: flex;
    flex-direction: row;
}

form, input {
    height: 32px;
    margin: auto;
}